body {
    background-image: url("netflix-survey.jpg");
    color: white;
}

.container {
    width: 88%;
    /* border: 2px solid green; */
    height: 978px;
    margin: auto;
    background-color: rgba(12, 12, 11, 0.3);
}

#description {
    text-align: center;
    font-size: 23px;
    font-family: "Sorts Mill Goudy", sans-serif;
    margin-bottom: 15px;
}

#formid {
    width: 500px;
    height: 808px;
    background-color: rgba(0, 0, 0, 0.8);
    margin: auto;
    padding-top: 10px;
}

#name,
#age,
#email,
#content {
    margin-top: 16px;
    height: 36px;
    width: 400px;
    border: none;
    padding: 10px;
}

.box {
    margin-top: 20px;
    margin-left: 40px;
    color: white;
}

#button {
    margin: 8px 170px 30px;
    background-color: red;
    color: white;
    padding: 15px 50px;
    text-align: center;
    font-size: 17px;
    border-radius: 30px;
    border: none;
}

#button:hover {
    background-color: white;
    color: black;
}

#title {
    text-align: center;
    font-size: 60px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 5px;
    transform-origin: center;
    transform: scaleX(89.2) rotateY(88.9deg);
    letter-spacing: -2px;
}

span {
    color: red;
}

#feedback {
    margin-top: 8px;
    height: 50px;
    width: 400px;
    border: none;
    padding: 10px;
}

.hiza {
    margin-left: 4.8px;
}